<html>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('logout') }}">LOGOUT</a>.
        </nav>
        <section>
        
            <p>USER {{ user_name }}</p>
            {% if session.id == user_id %}
                <a href="{{ url_for('upload') }}">UPLOAD MUSIC</a>   
            {% endif %} 
            <h3>SONGS UPLOADED:</h3>
            {% for song in songs %}
                
                <a href="{{ song.url }}"><p>{{ song.title }}</p></a><br>
                
                {% if session.id == user_id %}
                    <form method="GET" action="{{ url_for('delete', song_id=song.id) }}">
                        <input type="submit" value="Delete">
                    </form>
                {% endif %}
            {% endfor %}

            <h4>ALBUMS UPLOADED:</h4>
            {% for album in albums %}
                <a href="{{ url_for('album',user_id=user_id, album=album) }}"><p>{{ album.upper() }}</p></a>
            {% endfor %}
       
        
        </section>
    </body>
</html>