<html>
    <body>
        <nav>
            <a href="{{ url_for('index') }}">HOME</a>
        </nav>
        <h1> SIGNUP </h1>
        <form action="{{ url_for('signup') }}" method="POST">
           <input placeholder="Email" autocomplete="off" type="email" name="email">
           <input placeholder="Password" autocomplete="off" type="text" name="password">
           <input placeholder="Name" autocomplete="off" type="text" name="name">
           <input placeholder="Bio" autocomplete="off" type="textbox" name="bio">
           <input placeholder="age" autocomplete="off" type="number" name="age" min="1" max="100">
           <input type="submit" name="signup" value="SIGN UP">
        </form>
        <h3>{{ error }}</h3>
    </body>
</html>